*{
    margin: 0;
    padding: 0;
}
ul{width: 100%; list-style-type: none; padding: 0;margin: 0;}
ul li{float: right; width: 120px; margin: 20px 0 60px 0;}
ul li a{width: 200px;height: 10px;text-align: center;}


.A{
    width: 1515px;
    height: 180px;
    padding: 80px 0 0 0;
    background-color: rgb(73, 22, 10);
    border: 1px solid red;
}
#one{
    width: 400px;
    height: 50px;
    float: left;
    margin: 15px 0 0 200px;
    background-color: rgb(100, 25, 15);
    border: 1px solid  rgb(100, 25, 15);
}
.B{
    width: 1515px;
    height: 70px;
    background-color: rgb(100, 25, 15);
    border: 1px solid  rgb(100, 25, 15);;
    
}
.C{
    background-color: rgb(212, 201, 201);
    text-align: center;          /* 设置居中 */
    height: 700px;
    
    padding: 50px 100px 0 100px;
    font-size: 12px;              /* 设置元素之间间隙为0，图片为块级元素，无法直接去掉间隙 */
}


.E{
    background-color: rgba(112, 128, 144, 0.623);
    width: 1515px;
    margin:0 auto;
	text-align:center; 
	font-family:"微软雅黑"; 
	font-size:16px; 
	font-weight:bold;
}

#learn{
	width:980px; 
	margin:0 auto;
}

.imgbox{
	width:940px;
	padding:0 20px;
	white-space:nowrap;
	overflow:hidden;
}
.imgbox img{
	width:250px; 
	height:200px; 
	padding:50px 0 100px 20px;
}
