*{
    margin: 0;
    padding: 0;
}
ul{width: 100%; list-style-type: none; padding: 0;margin: 0;}
ul li{float: right; width: 120px; margin: 20px 0 60px 0;}
ul li a{width: 200px;height: 10px;text-align: center;}


.A{
    width: 100%;
    height: 180px;
    padding: 80px 0 0 0;
    background-color: rgb(73, 22, 10);
    border: 1px solid red;
}
#one{
    width: 400px;
    height: 50px;
    float: left;
    margin: 15px 0 0 200px;
    background-color: rgb(100, 25, 15);
    border: 1px solid  rgb(100, 25, 15);
}
.B{
    width: 1515px;
    height: 70px;
    background-color: rgb(100, 25, 15);
    border: 1px solid  rgb(100, 25, 15);;    
}
.C{
    background-color: rgba(197, 195, 195, 0.849);
    width: 1515px;
    height: 750px;
    
}
p_A{
   
    letter-spacing: 2px;   /* 字间距 */
    word-spacing: 20px;     /* 行间距 */
}
h1{
    padding: 50px 0 0 0;
    text-align: center;
}
.D{
     text-indent:3em;   /* 首行缩进 */
     
}
#D{
    margin: 50px 0 0 0 ;
    float: left;
    height: 150px;
    width: 1000px;
    border: 2px none;
    margin: 0 0 0 200px;
}
.one{
    border: 1px none;
    width: 350px;
    height: 300px;
    float: right;
}
.E{
    background-color: rgba(112, 128, 144, 0.623);
    width: 100%;
    margin:0 auto;
	text-align:center; 
	font-family:"微软雅黑"; 
	font-size:16px; 
	font-weight:bold;
}

